body {
  background-color: #212121;
}
.Parent {
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  width: 70%;
  height: auto;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin: auto;
  padding: 2vh;
}
